body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: transparent;
    overflow: hidden;
}

#notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    padding: 15px 20px;
    font-size: 16px;
    width: 350px;
    animation: slide-in 0.5s ease-out, fade-out 0.5s ease-in 4.5s forwards;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    word-wrap: break-word; 
    border: 2px solid #3b3b3b;
    display: flex;
    align-items: center; 
    background-color: #fff;
}

.notification.success {
    background-color: #34c23975;
    color: white;
}

.notification.error {
    background-color: #f4433683;
    color: white;
}

.notification.info {
    background-color: #30303083;
    color: white;
}

.notification.warning {
    background-color: #ff990085;
    color: white;
}

.notification .icon {
    margin-right: 10px;
    font-size: 25px;
    border-right: 2px solid #3b3b3b;
    padding-right: 10px;
}

.notification.success .icon {
    color: #131313ee;
}

.notification.error .icon {
    color: #0a0a0ae0;
}

.notification.info .icon {
    color: #111111ee;
}

.notification.warning .icon {
    color: #030303d8; 
}

/* Animationer */
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}